@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title us:</h2>


<address>
    Varna, Bulgaria<br />
    Gen. Kolev str. 87, app. 69<br />
    Phone: +359 888 88 29 42
</address>

<address>
    <strong>Support:</strong> <a href="mailto:baevnikola@gmail.com">baevnikola@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:spe6en@abv.bg">spe6en@abv.bg</a>
</address>